h1= title
form(action="/completetask", method="post")
  table(border="1")
    tr
      td Name
    each city in cities
      tr
        td #{city.name}
        td
          a(href="/cities/#{city.url}") manage
hr
form(action="/addcity", method="post")
  table(border="1") 
    tr
      td Item Name: 
      td 
        input(name="item[name]", type="textbox")
    tr
      td Description: 
      td 
        input(name="item[description]", type="textbox")
  input(type="submit", value="Add city")